function removeSortingElements(){
	//Removes sorted image
	if ($('#sorting-principal #photo-container img').length >0) {
		$('#sorting-principal #photo-container img').remove();
		$('#source-url').remove();
	}

	//Removes sorted image description
	if ($('#sorting-principal #photo-description p').length > 0) {
		$('#sorting-principal #photo-description p').remove();
	}

	//Removes uploader's image name
	if ($('#sorting-principal #user-name-container h6').length > 0) {
		$('#sorting-principal #user-name-container h6').remove();
	}

	//RemovesSorting face recognition rectangles.
	$('.rect').remove();

	//Removes image of user who uploaded to queue
	$('#sorting-principal #user-photo-container img').remove();

	//Removes the Follow button from user who uploaded to queue
	$('#sorting-principal #user-name-container .button').remove();

	//Removes the Like button from user who uploaded to queue
	$('#sorting-principal #like-container .button').remove();
}

function appendSortingElements(){

	//Appends the description of the queue phote
	$('#sorting-principal #photo-description').append("<p> <%= @photo.description %> </p>");

	//Appends image of user who uploaded to queue
	$('#sorting-principal #user-photo-container').append('<%= link_to profile_other_user_show_path(@photo.user_id) do %> <%= image_tag(@photo.user.avatar.url(:medium), class:"circle") %> <% end %>');

	//Appends image from user who uploaded to queue
	$('#sorting-principal #user-name-container').append('<%= link_to profile_other_user_show_path(@photo.user_id) do %> <h6><%= @photo.user.username %></h6> <% end %>');

	//Appends the image to be sorted
	$('#sorting-principal #photo-container').append('<span id="source-url" class="hidden"><%= @photo.file.url(:medium) %></span><img id="trackme">');

	//Appends the button to Follow the user who uploaded to queue
	<% if user_signed_in? %>
		<% if current_user.following?(@photo.user) %>
			$('#sorting-principal #follow-container').append('<%= link_to "Unfollow", relationship_path(@photo.user_id), remote: true, class: "button follow", id: "unfollow_user", method: :delete %>');
			$('#sorting-principal #user-name-container').addClass('magictime puffIn');
		<% else %>
			$('#sorting-principal #follow-container').append('<%= link_to "Follow", relationships_path(id: @photo.user_id), remote: true, class:"button follow", id: "follow_user", method: :post %>');
			$('#sorting-principal #user-name-container').addClass('magictime puffIn');
		<% end %>
	<% end %>
	//Appends the image to be sorted
	$('#sorting-principal #photo-container').append('<span id="source-url" class="hidden"><%= @photo.file.url(:medium) %></span><img id="trackme">');

	//Appends the button to like image to be sorted
	<% if current_user.liked? @photo %>
		$('#sorting-principal #like-container').append('<%= link_to unlike_photo_path(@photo), class:"button like", method: :get, remote: true, id: "unlike_photo" do %><span class="fa fa-thumbs-o-down"></span><span id="show-unlike-<%= @photo.id %>"><%= @photo.get_upvotes.size %></span><% end %>');
		$('#sorting-principal #like-container').addClass('magictime swashIn');
	<% else %>
	 	$('#sorting-principal #like-container').append('<%= link_to like_photo_path(@photo), class:"button like", method: :get, remote: true, id: "like_photo" do %><span class="fa fa-thumbs-o-up"></span><span id="show-like-<%= @photo.id %>"><%= @photo.get_upvotes.size %></span><% end %>');
		$('#sorting-principal #like-container').addClass('magictime swashIn');
	<% end %>

	//Apends the flag overlay
	$('#flag-overlay').append("<%= escape_javascript(render partial: 'flags_form', locals: { photo_id: @photo.id } ) %>"); 

}

function showPhotoStadistics(){
	$('#sorting-principal #photo-stadistic-container').append('<% @photo.sections.each do |section| %><div class="end photo-stadistic callout small-12 large-3 columns"><div class="row text-center stadistic-title columns"><h5><%= section.index + 1 %></h5></div><div id="rank" class="row"><h6><b>Your Rank:</b> <%= section.sorting_information.section_id %></h6></div><div id="frequent" class="row"><h6><b>Most Frequent: </b><%= section.sorting_information.most_frequent %></h6></div><div id="average" class="row"><h6><b>Average: </b><%= section.sorting_information.average %></h6></div></div><% end %>');
}

function removePhotoStadistics(){
	$('#sorting-principal .photo-stadistic').remove();
}

$(document).on("turbolinks:load", function() { 
	removeSortingElements();
	appendSortingElements();
});

removeSortingElements();
appendSortingElements();

//Sends data from the photo
$('#sorting-principal button').data("photo_id", <%= @photo.id %>);

//This anables images to be shown at heroku
imageToSort = document.getElementById('trackme');
$(imageToSort).attr('crossOrigin', 'anonymous');
$(imageToSort).attr("src", $("#source-url").text());
$(imageToSort).one('load', function() {
});
