<div id="photo-form" class="row upper-space">
	<div class="callout small-12 medium-8 medium-push-2 text-center columns">
		<h4>Upload Image</h4>
		<%= render 'form', photo: @photo %>
		<div id="file-upload" class="callout row">
			<div class="small-12 text-center columns">
				<h5>Import from social media</h5>
			</div>
			<div class="small-12 medium-4 columns">
				<% if Identity.identity_facebook(@user.id, "facebook").empty? %>
	        <%= link_to "Integrate Facebook", user_facebook_omniauth_authorize_path, class:"button facebook" %>
	      <%else %>
	    		<%= link_to "Facebook", import_facebook_path, class:"button facebook" %>
	      <% end %>
			</div>
			<div class="small-12 medium-4 columns">
				<% if Identity.identity_google(@user.id, "google_oauth2").empty? %>
	        <%= link_to "Integrate Google", user_google_oauth2_omniauth_authorize_path, class:"button google" %>
	      <%else %>
	      	<%= link_to "Google", import_google_path, class:"button google" %>
	      <% end %>
			</div>
			<div class="small-12 medium-4 columns">
				<% if Identity.identity_instagram(@user.id, "instagram").empty? %>
	        <%= link_to "Integrate Instagram", user_instagram_omniauth_authorize_path, class:"button instagram" %>
	      <%else %>
	      	<%= link_to "Instagram", import_instagram_path, class:"button instagram" %>
	      <% end %>		
			</div>
		</div>
	</div>
</div>
