<div id="select-photos" class="upper-pad under-pad row">
	<div class="row">
		<div class="small-12 text-center columns">
			<h4>You can only select <%= @number_photos %> photos</h4>
			<p>These are the images you have chosen but you can only choose <%= @number_photos %><br>Please try again</p>
			<%= button_tag('Upload Selected Images', class:"button", id: "select-multiple-photos") %>
		</div>
	</div>
	<div id="photos-container" class="row">
		<% @photos.each do |photo| %>
			<div class="upper-space small-4 text-center end columns">
				<%= image_tag(photo.file.url(:medium),id: photo.id) %>
				<%= check_box_tag('select_photo', photo.id , false) %>
			</div>
		<% end %>
	</div>
</div>
