<% set_meta_tags title: 'Sortyu Image',
				description: @photo.description, 
				og: {
					title:     'Sort images, choose what you like the most of an image',
					type:      'website',
					url:       "#{photo_url(@photo)}",
					site_name: 'Sortyu',
					image:     [{
									_: "#{@photo.file.url(:medium)}",
    								width: @width,
    								height: @height,
					}]
				} %>
<div id="photo-show">
	<div class="upper-space row">
		<div class="small-10 small-push-1 text-center columns">
			<%= image_tag(@photo.file.url(:large)) %>
		</div>
		<div class="small-12 text-center columns">
			<p>
	  			<b>Description:</b>
	  			<% if  !@photo.description.nil? and @photo.description.length > 0 %>
	  				<%= @photo.description %>
	  			<% else %>
	  				No Description
	  			<% end %>
			</p>
		</div>
	</div>

	<div class="share-container row collapse under-space">
		<div class="small-4 small-push-2 medium-3 medium-push-3 large-1 large-push-4 text-center columns">
			<p>Share: </p> 
		</div>
		<div class="small-8 medium-4 medium-push-1 large-2 large-push-4 text-center end columns">
			<%= facebook_button :turbolinks => true %>
			<%= twitter_button :turbolinks => true %>
		</div>
	</div>
	<div class="small-8 medium-4 medium-push-1 large-2 large-push-4 text-center end columns">
		<%= facebook_button :static_link => true %>
		<%= twitter_button :turbolinks => true %>
	<div class="row">
		<div class="small-12 text-center columns">
			<%= link_to 'Pay', new_charge_path(photo_id: @photo.id), class: "button" %>
		</div>
	</div>
	<div class="row">
		<div class="upper-space small-12 text-center columns">
			<%= link_to 'Back', profile_show_path, class: "hollow button" %>
			<%= link_to 'Edit', edit_photo_path(@photo), class: "hollow button" %>
			<%= link_to 'Delete', @photo, method: :delete, data: { confirm: 'Are you sure?' }, class: "button delete" %>
		</div>
	</div>
</div>
