<div class="upper-space row">
	<div class="small-10 small-push-1 text-center columns">
		<%= image_tag(@photo.file.url(:medium)) %>
	</div>
	<div class="small-12 text-center columns">
		<p>
  			<b>Description:</b>
  			<%= @photo.description %>
		</p>
	</div>
</div>
<div class="row">
	<div class="small-12 text-center columns">
		<%= link_to 'Pay', new_charge_path(photo_id: @photo.id), class: "button" %>
	</div>
</div>
<div class="row">
	<div class="small-12 text-center columns">
		<%= link_to 'Back', profile_show_path, class: "hollow button" %>
		<%= link_to 'Edit', edit_photo_path(@photo), class: "button" %>
	</div>
</div>
