<% set_meta_tags title: 'Sortyu image',
				description: @photo.description, 
				og: {
					site_name: 'Sortyu',
					type:     'website',
					title:    'Sort images, choose what you like the most of an image',
					url:      "#{photo_url(@photo)}",
					image:    "#{@photo.file.url(:medium)}",
				} %>
<div class="upper-space row">
	<div class="small-10 small-push-1 text-center columns">
		<%= image_tag(@photo.file.url(:medium)) %>
	</div>
	<div class="small-12 text-center columns">
		<p>
  			<b>Description:</b>
  			<%= @photo.description %>
		</p>
	</div>
</div>
<div class="row collapse under-space">
	<div class="small-12 medium-3 large-2 columns">
		<p>Share: </p> 
	</div>
	<div class="small-12 medium-9 large-10 columns">
		<%= social_share_button_tag("Choose which sections you like the most of an image on Sortyu", :url => "#{photo_url(@photo)}", :image => "#{@photo.file.url(:medium)}", desc: @photo.description, via: "sortyu") %>
	</div>
</div>
<div class="row">
	<div class="small-12 text-center columns">
		<%= link_to 'Pay', new_charge_path(photo_id: @photo.id), class: "button" %>
	</div>
</div>
<div class="row">
	<div class="upper-space small-12 text-center columns">
		<%= link_to 'Back', profile_show_path, class: "hollow button" %>
		<%= link_to 'Edit', edit_photo_path(@photo), class: "button" %>
		<%= link_to 'Delete', @photo, method: :delete, data: { confirm: 'Are you sure?' }, class: "button delete" %>
	</div>
</div>
