<div id="photo-show">
	<div class="upper-space row">
        <div id="photo-container" class="callout small-12 medium-10 medium-push-1 large-8 large-push-2 text-center columns">
            <div class="row">
                <div class="sorting-canvas">
                    <div class="inner-sorting-canvas">
                        <%= image_tag(@photo.file.url(:large)) %>
                        <% @photo.sections.each() do |section| %>
                        	<div class="rect" style="width: <%= section.width %>px; height: <%= section.height %>px; left: <%= section.left %>px; top: <%= section.top %>px; transform: translate(<%= section.translateX %>px,<%= section.translateY %>px);"><span><%= section.index %></span></div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
			<div class="small-12 text-center columns">
				<% if @photo.user != current_user %>
					<% if @seen == true %>
						<%= link_to "Sort More", photos_path, class:"button" %>
					<% else %>
						<%= link_to "Sort", sort_friend_path(@photo), class: "button" %>
					<% end %>
				<% end %>
			</div>
			<div class="description-container small-12 medium-10 medium-push-1 large-8 large-push-2 text-center columns">
				<p>
		  			<b>Description:</b>
		  			<% if  !@photo.description.nil? and @photo.description.length > 0 %>
		  				<%= @photo.description %>
		  			<% else %>
		  				No Description
		  			<% end %>
				</p>
			</div>
			<div class="tag-container small-12 medium-10 medium-pull-1 large-8 large-pull-2 text-center columns">
				<ul>
					<% @photo.tag_list.each do |tag| %>
						<li><%= tag %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<div class="share-container row collapse under-space">
		<div class="small-4 small-push-1 medium-3 medium-push-3 large-1 large-push-4 text-center columns">
			<p>Share: </p> 
		</div>
		<div class="small-8 medium-4 medium-push-2 large-2 large-push-4 text-center end columns">
			<div class="float-left">
				<%= social_share_button_tag("Sortyu Image", url: photo_url(@photo), image: @photo.file.url(:medium), desc: @photo.description) %>
			</div>
			<div class="small-8 large-push-4 columns">
				<span><%= @photo.get_upvotes.size %> likes</span>
			</div>
		</div>
	</div>
	<!-- Photo Stadistics -->
	<div class="row">
		<div id="photo-stadistic-container" class="small-12 columns">
			<div id="sorted-count-container" class="under-space row">
				<div class="small-12 text-center columns">
					<h4>Sorted by <b><%= @photo.count_of_sorts %> users</b></h4>
				</div>
			</div>
			<% if !@photo.sections.empty? %>
				<% @photo.sections.each do |section| %>
					<div class="end photo-stadistic callout small-12 medium-4 large-3 columns">
						<div class="row text-center stadistic-title columns">
							<h5>Section Number: <%= section.index.to_i %></h5>
						</div>
						<div id="frequent" class="row">
							<h6><b>Most Frequent: </b>
							<% if !section.sorting_information.nil? %>
								<%= section.sorting_information.most_frequent %>
							<% end %>
							</h6>
						</div>
						<div id="average" class="row">
							<h6><b>Average: </b>
								<% if !section.sorting_information.nil? %>
									<%= section.sorting_information.average.round(2) %>
								<% end %>
							</h6>
						</div>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
	
	<div class="row">
		<div class="under-space upper-space small-12 text-center columns">
			<% if @photo.user == current_user %>
				<% if @photo.state == 'free' %>
					<%= link_to 'Pay', new_charge_path(photo_id: @photo.id), class: "button pay" %>
				<% end %>
			<% end %>
			<% if @photo.user == current_user %>
				<%= link_to 'Edit', edit_photo_path(@photo), class: "hollow button" %>
				<%= link_to 'Edit Sections', photo_edit_sections_path(photo_id: @photo.id), class: "hollow button" %>
				<%= link_to 'Delete', @photo, method: :delete, data: { confirm: 'Are you sure?' }, class: "button delete" %>
			<% end %>
			<%= link_to 'Back', profile_show_path, class: "hollow button" %>
		</div>
	</div>
</div>
