$('.unlike').bind('ajax:success', function(){
   $(this).parent().parent().find('#show-unlike-<%= @photo.id %>').html('<%= escape_javascript @photo.votes_for.size.to_s %>');
   $(this).closest('#show-unlike-<%= @photo.id %>').hide();
   $(this).closest('#like-container').html('<%= link_to like_photo_path(@photo), class:"button like", method: :get, remote: true, id: "like_photo" do %><span class="fa fa-thumbs-o-up"></span><span id="show-like-<%= @photo.id %>"><%= @photo.get_upvotes.size %></span><% end %>');
});