<% if current_user.following.count > 0 %>
	<% current_user.following.each do |following| %>
		<div class="follow-container">
			<%= link_to profile_other_user_show_path(following.id) do %>
				<%= avatar_profile_link following, "medium", class:"circle" %>
				<h6>
					<%= following.username %>
				</h6>
				<h6 class="name">
					<%= following.first_name %>
				</h6>
			<% end %>
			<%= link_to "Unfollow", relationship_path(following.id), class: "button follow", id: "unfollow_user", method: :delete %>
		</div>
	<% end %>
<% else %>
	<h4>You're not following anyone yet</h4>
<% end %>
