<div id="batch-container" class="small-12 columns">
	<%= link_to 'Edit Images', remove_photos_path, class:"button tiny hollow float-left" %>
	<%= link_to 'Pay Images', pay_multiple_photos_path, class:"button pay tiny float-left" %>
	<%= link_to 'Draft Images', photos_draft_path, class:"button tiny hollow float-left" %>

	<ul class="dropdown menu float-right" data-dropdown-menu>
		<li>
			<a href="#">Filter by:</a>
			<ul class="menu">
				<%= render partial: 'filters' %>	
			</ul>
		</li>
	</ul>
</div>
<div id="photos-container" class="small-12 columns">
	<% if @photos.count > 0 %>
		<% @photos.each() do |photo| %>
			<div class="under-space small-6 medium-4 float-left columns">
				<div class="under-space ribbon-container">
					<% if photo.state == 'free'%>
						<div class="ribbon free">Free</div>
					<% elsif photo.state == 'paid' %>
						<div class="ribbon paid">&#36;</div>
					<% end %>
					<%= link_to photo do %>
						<%= image_tag(photo.file.url(:medium)) %>
					<% end %>
				</div>
				<!-- Share social buttons container -->
				<div data-photo="<%= photo.id %>" id="photo-i" class="information row collapse under-space">
					<div class="small-12 medium-3 large-2 columns">
						<p>Share: </p> 
					</div>
					<div class="small-12 medium-9 large-10 columns">
						<div class="float-left">
							<%= social_share_button_tag("Sortyu Image", url: photo_url(photo), image: photo.file.url(:medium), desc: photo.description) %>
						</div>
						<div class="float-right">
							<span><%= photo.get_upvotes.size %> likes </span>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	<% else %>
		<div class="small-12 text-center columns">
			<h4>There are no images to display</h4>
		</div>
	<% end %>
</div>
<!-- <div class="reveal tiny" id="imagesWarning" data-reveal>
  <h3>Limit Reached</h3>
  <p class="lead">You can upload up to 10 free images</p>
  <h3>Enjoy uploading images?</h3>
  <p><b><i>Get benefits for paid images:</i></b></p>
  <ul>
	<li>Unlimited uploads</li>
	<li>Be at the top of the sorting queue</li>
  </ul>
  <button class="close-button" data-close aria-label="Close modal" type="button">
	<span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="target hidden">
	<p><a data-open="imagesWarning" id="openModal">Click me for a modal</a></p>
</div> -->
