<div class="small-12 text-center columns">
	<%= link_to 'Remove Images', remove_photos_path, class:"button delete" %>
</div>
<div id="photo-container" class="small-12 columns">
	<% @photos.each() do |photo| %>
		<div class="under-space small-6 medium-4 float-left columns">
			<%= link_to photo do %>
				<%= image_tag(photo.file.url(:medium)) %>
			<% end %>
		 	<div data-photo="<%= photo.id %>" id="photo-i" class="row collapse under-space">
 				<div class="small-12 medium-3 large-2 columns">
      				<p>Share: </p> 
      			</div>
      			<div class="small-12 medium-9 large-10 columns">
         			<%= facebook_button :turbolinks => true %>
         			<%= twitter_button :turbolinks => true%>
     			</div>
  			</div>
		</div>
	<% end %>
</div>
<!-- <div class="reveal tiny" id="imagesWarning" data-reveal>
  <h3>Limit Reached</h3>
  <p class="lead">You can upload up to 10 free images</p>
  <h3>Enjoy uploading images?</h3>
  <p><b><i>Get benefits for paid images:</i></b></p>
  <ul>
  	<li>Unlimited uploads</li>
  	<li>Be at the top of the sorting queue</li>
  </ul>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="target hidden">
	<p><a data-open="imagesWarning" id="openModal">Click me for a modal</a></p>
</div> -->
