<div id="photos-container" class="small-12 columns">
	<% if @photos.count > 0 %>
		<% @photos.each() do |photo| %>
			<div class="under-space small-4 float-left columns">
				<%= link_to photo do %>
					<%= image_tag(photo.file.url(:medium), class:"under-space") %>
				<% end %>
			 	<div data-photo="<%= photo.id %>" id="photo-i" class="information row collapse under-space">
					<div class="small-12 medium-3 large-2 columns">
						<p>Share: </p> 
					</div>
					<div class="small-12 medium-9 large-10 columns">
						<div class="float-left">
							<%= social_share_button_tag("Sortyu Image", url: photo_url(photo), image: photo.file.url(:medium), desc: photo.description) %>
						</div>
						<div class="float-right">
							<span><%= photo.get_upvotes.size %> likes</span>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	<% else %>
		<div class="small-12 columns text-center">
			<h4>There are no images to display</h4>
		</div>
	<% end %>
</div>
