<div id="profile-show">
	<div class="row upper-space">
		<div id="user-name-container" class="truncate small-8 medium-4 large-3 columns">
			<h6><%= @user.full_name %></h6>
		</div>
		<div class="upper-space small-4 medium-6 medium-pull-1 end text-center columns">
			<div class="show-for-medium medium-6 columns">
				<%= link_to "Edit", edit_affiliate_registration_path , class:"button small" %>
			</div>
		</div>
	</div>
	<div class="row upper-space">
		<div class="under-space small-12 medium-8 columns">
			<p><b><%= @user.username %> </b><% if !@user.about_you.nil? and @user.about_you.length > 0 %><%= @user.about_you %><% else %>No Description<% end %></p>
			<p><b>URL: </b><%= request.protocol + request.host + "?ref=#{@user.id}" %></p>
		</div>
	</div>
	<div class="hide-for-medium small-12 text-center columns">
		<%= link_to "Edit", edit_affiliate_registration_path , class:"button small" %>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<ul class="tabs" data-tabs id="example-tabs">
			  	<li id="photos-count" data-photos-size="" class="tabs-title is-active">
			  		<a href="#panel-gallery" aria-selected="true"><b></b> Images</a>
			  	</li>
			  	<li class="tabs-title">
			 		<a href="#panel-affilliates"><b><%= User.referred_users(current_affiliate).count()%> </b>Referrals</a>
			 	</li>
			</ul>
			<div class="tabs-content small-12 columns" data-tabs-content="example-tabs">
				<div class="tabs-panel is-active" id="panel-gallery">
				</div>
				<div class="tabs-panel" id="panel-affilliates">
					<%= render partial: 'affiliates' %>
				</div>
			</div>
		</div>
	</div>
</div>