<div id="profile">
	<div class="row upper-space">
		<div class="small-4 medium-2 medium-text-center columns">
			<%= avatar_profile_link @user, "medium", class: "circle" %>
		</div>
		<div id="user-name-container" class="truncate small-4 small-pull-1 medium-2 columns">
			<h6><%= @user.full_name %></h6>
		</div>
		<div class="upper-space small-4 medium-6 medium-pull-1 end text-center columns">
			<div class="show-for-medium small-4 large-3 columns">
				<% if user_signed_in?%>
          <% if current_user.following?(@user) %>
              <%= link_to "Unfollow", relationship_path(@user.id), class:"button unfollow", method: :delete %>
          <% else %>
              <%= link_to "Follow", relationships_path(id: @user.id), class:"button follow", method: :post %>
          <% end %>
      	<% end %>
      	<%= link_to "Following", following_path(id: @user.id) , class:"button small" %>
      	<%= link_to "Followers", followers_path(id: @user.id) , class:"button small" %>
			</div>
		</div>
	</div>
	<div class="row upper-space">
		<div class="under-space small-12 medium-8 medium-push-2 columns">
			<p><b><%= @user.username %> </b><%= @user.about_you %></p>
		</div>
	</div>
	<div class="row upper-space">
		<div class="upper-space small-12 columns text-center" id="photos-count" data-photos-size="<%= @photos.count %>">
			<h6><b><%= @photos.count() %></b> Images</h6>
		</div>
		<div id="photo-container" class="small-12 columns">
			<% @photos.each() do |photo| %>
				<div class="small-4 float-left columns">
					<%= image_tag(photo.file.url(:medium)) %>
				</div>
			<% end %>
		</div>
	</div>
</div>
