<div id="profile">
	<div class="row upper-space">
		<div class="small-4 medium-2 medium-text-center columns">
			<%= avatar_profile_link @user, "medium", class: "circle" %>
		</div>
		<div id="user-name-container" class="truncate small-4 small-pull-1 medium-2 columns">
			<h6><%= @user.full_name %></h6>
		</div>
		<div class="upper-space small-4 medium-6 medium-pull-1 end text-center columns">
			<div class="show-for-medium small-4 large-3 columns">
				<% if user_signed_in?%>
					<% if current_user.following?(@user) %>
						<%= link_to "Unfollow", relationship_path(@user.id), class:"button unfollow", method: :delete %>
					<% else %>
						<%= link_to "Follow", relationships_path(id: @user.id), class:"button follow", method: :post %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="row upper-space">
		<div class="under-space small-12 medium-8 medium-push-2 columns">
			<p><b><%= @user.username %> </b><% if !@user.about_you.nil? and @user.about_you.length > 0 %><%= @user.about_you %><% else %>No Description<% end %></p>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<ul class="tabs" data-tabs id="example-tabs">
			  	<li id="photos-count" data-photos-size="<%= @photos.count %>" class="tabs-title is-active">
			  		<a href="#panel1" aria-selected="true"><b><%= @photos.count() %></b> Images</a>
			  	</li>
			 	<li class="tabs-title">
			 		<a href="#panel2"><b><%= @user.followers.count %></b> Followers</a>
			 	</li>
			 	<li class="tabs-title">
			 		<a href="#panel3"><b><%= @user.following.count %></b> Following</a>
			 	</li>
			</ul>
			<div class="tabs-content small-12 columns" data-tabs-content="example-tabs">
				<div class="tabs-panel is-active" id="panel1">
					<%= render partial: 'other_gallery' %>
				</div>
				<div class="tabs-panel" id="panel2">
					<%= render partial: 'other_followers' %>
				</div>
				<div class="tabs-panel" id="panel3">
					<%= render partial: 'other_following' %>
				</div>
			</div>
		</div>
	</div>
</div>
