<div id="profile-show" class="under-space">
	<div class="row upper-space">
		<div class="small-4 medium-2 medium-text-center columns">
			<%= avatar_profile_link current_user, "medium", class: "circle" %>
		</div>
		<div id="user-name-container" class="truncate small-8 small-pull-1 medium-4 large-3 columns">
			<h6><%= current_user.full_name %></h6>
		</div>
		<div class="upper-space small-4 medium-6 medium-pull-1 end text-center columns">
			<div class="show-for-medium medium-10 columns">
				<%= link_to "Edit", edit_user_registration_path , class:"button small" %>
				<div class="float-right">
					<% if current_user.hide_results? %>
						<%= check_box_tag("hide results", value = "1", checked = true) %>
					<% else %>
						<%= check_box_tag("hide results", value = "1", checked = false) %>
					<% end %>
					<%= label_tag("Hide Results")%>
				</div>
			</div>
		</div>
	</div>
	<div class="row upper-space">
		<div class="under-space small-12 medium-8 medium-push-2 columns">
			<p><b><%= current_user.username %> </b><% if !current_user.about_you.nil? and current_user.about_you.length > 0 %><%= current_user.about_you %><% else %>No Description<% end %></p>
			<% if !current_user.url.nil? and !current_user.url.empty? %>
				<p><strong>URL:</strong> <%= current_user.url %></p>
			<% end %>
		</div>
	</div>
	<div class="hide-for-medium small-12 text-center columns">
		<%= link_to "Edit", edit_user_registration_path , class:"button small" %>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<ul class="tabs" data-tabs id="tabs">
			  	<li id="photos-count" data-photos-size="<%= @photos.count %>" class="tabs-title is-active">
			  		<a href="#panel-gallery" aria-selected="true"><b><%= @photos.count() %></b> Images</a>
			  	</li>
			 	<li class="tabs-title">
			 		<a href="#panel-followers"><b><%= current_user.followers.count %></b> Followers</a>
			 	</li>
			 	<li class="tabs-title">
			 		<a href="#panel-following"><b><%= current_user.following.count %></b> Following</a>
			 	</li>
			 	<li class="tabs-title">
			 		<a href="#panel-affilliates">Affiliates</a>
			 	</li>
			</ul>
			<div class="tabs-content small-12 columns" data-tabs-content="tabs">
				<div class="tabs-panel is-active" id="panel-gallery">
					<%= render partial: 'gallery' %>
				</div>
				<div class="tabs-panel" id="panel-followers">
					<%= render partial: 'followers' %>
				</div>
				<div class="tabs-panel" id="panel-following">
					<%= render partial: 'following' %>
				</div>
				<div class="tabs-panel" id="panel-affilliates">
					<%= render partial: 'affiliates' %>
				</div>
			</div>
		</div>
	</div>
</div>
