<div id="profile">
	<div class="row upper-space">
		<div class="small-4 medium-2 medium-text-center columns">
			<%= avatar_profile_link current_user, "medium", class: "circle" %>
		</div>
		<div id="user-name-container" class="truncate small-4 small-pull-1 medium-2 columns">
			<h6><%= current_user.full_name %></h6>
		</div>
		<div class="upper-space small-4 medium-6 medium-pull-1 end text-center columns">
			<div class="show-for-medium small-4 large-3 columns">
				<%= link_to "Upload", new_photo_path, class:"button small" %>
			</div>
			<div class="small-4 large-3 end columns">
				<%= link_to "Edit", edit_user_registration_path , class:"button small" %>
			</div>
		</div>
	</div>
	<div class="row upper-space">
		<div class="under-space small-12 medium-8 medium-push-2 columns">
			<p><b><%= current_user.username %> </b><%= current_user.about_you %></p>
		</div>
	</div>
	<div class="hide-for-medium small-4 small-push-4 text-center columns">
		<%= link_to "Upload", new_photo_path, class:"button small" %>
	</div>
	<div class="row upper-space">
		<div class="upper-space small-12 columns text-center" id="photos-count" data-photos-size="<%= @photos.count %>">
			<h6><b><%= @photos.count() %></b> Images</h6>
		</div>
		<div id="photo-container" class="small-12 columns">
			<% @photos.each() do |photo| %>
				<div class="small-4 float-left columns">
					<%= image_tag(photo.file.url(:medium)) %>

					<div data-photo="<%= photo.id %>" id="photo-i" > <%= social_share_button_tag(photo.description,:'data-source' => photo.file.url(:medium), :'data-type' => 'photo') %></div>
				</div>
			<% end %>
		</div>
	</div>
</div>
