<div class="row">
	<div class="upper-space callout small-12 medium-8 medium-push-2 text-center">
		<h4>Welcome <i><%= current_user.first_name %></i></h4>
		<%= form_for(@user, url: wizard_path, method: :put) do |f| %>
			<div class="row">
				<h6><%= check_box_tag :affiliate %> <%= h "Are you an affiliate?" %></h6> 
			</div>
			<div class="field" hidden="true" id="user_url">
				<%= f.label :url, "This will be the link for your referrals" %>
				<%= f.text_field :url, value: @url, readonly: true %>
			</div>
			<%= f.submit 'Next', class: "button" %>
		<% end %>
	</div>
</div>
