<%= form_tag charges_path do %>
    <article>
        <% if flash[:error].present? %>
            <div id="error_explanation">
                <p><%= flash[:error] %></p>
            </div>
        <% end %>
        <div class="row">
            <div class="upper-space small-12 columns">
                <%= image_tag(@photo.file.url(:medium)) %>
            </div>
        </div>
        <div class="row">
            <div class="upper-space under-space small-12 columns">
                <span><strong>Amount:</strong> <%= humanized_money_with_symbol Price.last.value %></span>
            </div>
        </div>
    </article>
    <%= hidden_field_tag :photo_id, @photo.id %>
    <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-amount="<%= Price.last.value_cents %>"
    data-name="Sortyu"
    data-description="Photo"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto" >
    </script>
<% end %>
