<%= form_tag charges_path do %>
    <article>
        <% if flash[:error].present? %>
            <div id="error_explanation">
                <p><%= flash[:error] %></p>
            </div>
        <% end %>
        <% if !@photo.nil? %>
            <div class="gallery row">
                <div class="upper-space small-3 end columns">
                    <%= image_tag(@photo.file.url(:medium)) %>
                    <%= hidden_field_tag :photo_id, @photo.id %>
                </div>
            </div>
            <div class="row">
                <div class="upper-space under-space small-12 columns">
                    <span><strong>Amount:</strong> <%= humanized_money_with_symbol @price %></span>
                </div>
            </div>
        <% else %>
            <div class="gallery row">
                <% @photos.each do |photo| %>
                    <div class="small-4 medium-3 large-2 end columns">
                        <%= image_tag(photo.file.url(:medium)) %>
                    </div>
                <% end %>
            </div>
            <div class="row">
                <div class="upper-space under-space small-12 columns">
                    <h5><strong>Amount:</strong> <span class="cash"><%= humanized_money_with_symbol @price %></span></h5>
                </div>
             </div>
        <% end %>
    </article>

    <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="Sortyu"
    data-description="Photo"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto" >
    </script>
<% end %>
