<header class="row expanded">
    <div id="logo-container" class="small-4 columns">
        <strong><%= link_to "Sortyu", root_path %></strong>
    </div>
    <div class="small-4 hide-for-small-only columns">
        <div class="input-group">
            <input class="input-group-field" type="search" placeholder="Search...">
            <div class="input-group-button">
                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    <div class="small-4 float-right columns">
        <ul class="dropdown menu float-right" data-dropdown-menu>
          <li>
            <a href="#" class="button">Menu</a>
            <ul class="menu">
                <li>
                    <%= link_to profile_show_path do %>
                       <i class="fa fa-user" aria-hidden="true"></i>
                       <span>Profile</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to photos_path do %>
                        <i class="fa fa-object-group" aria-hidden="true"></i>
                        <span>Sort</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to new_photo_path do %>
                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                        <span>Upload Images</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to destroy_user_session_path, method: :delete do %>
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        <span>Log Out</span>
                    <% end %>
                </li>
            </ul>
          </li>
        </ul>
    </div>
    <div class="small-4 show-for-small-only columns">
        <div class="input-group">
            <input class="input-group-field" type="search" placeholder="Search...">
            <div class="input-group-button">
                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</header>
