<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @justification.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @justification.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @justification.user %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @justification.photo %>
</p>

<%= link_to 'Edit', edit_justification_path(@justification) %> |
<%= link_to 'Back', justifications_path %>
